
<div class="breadcrumbs">
    <div class="breadcrumbs__box">
        <a href="#" class="breadcrumbs__item">Главная</a>
        <span> / </span>
        <a href="#" class="breadcrumbs__item">Каталог</a>
        <span> / </span>
        <a href="#" class="breadcrumbs__item">Процессоры</a>
    </div>
    <div class="breadcrumbs__box">
        <div class="breadcrumbs__item breadcrumbs__filtr breadcrumbs__item_filtr"><span>фильтр</span></div>
        <div class="breadcrumbs__item breadcrumbs__filtr breadcrumbs__item_arrow">по названию</div>
        <div class="breadcrumbs__item breadcrumbs__filtr breadcrumbs__item_arrow">по цене</div>
    </div>
</div>
