
<div class="breadcrumbs">
    <div class="breadcrumbs__box">
        <a href="#" class="breadcrumbs__item">главная</a>
        <span> / </span>
        <a href="#" class="breadcrumbs__item">каталог</a>
        <span> / </span>
        <a href="#" class="breadcrumbs__item">процессоры</a>
    </div>
    <div class="breadcrumbs__box">
        <div class="breadcrumbs__item breadcrumbs__item_filtr">фильтр</div>
        <div class="breadcrumbs__item breadcrumbs__item_arrow">по названию</div>
        <div class="breadcrumbs__item breadcrumbs__item_arrow">по цене</div>
    </div>
</div>
