
<div class="catalog">
    <a href="#" class="catalog__item catalog__item_double">
        <div class="catalog__add">
            <span></span>
            <span></span>
        </div>
        <div class="catalog__media">
            <img src="../media/catalog/product-1.png" alt="">
        </div>
        <div class="catalog__footer">
            <div class="catalog__categories">Персональные компьютеры</div>
            <div class="catalog__name">Apple Mac Pro Xeon W 3.5 ГГц </div>
            <div class="catalog__price">410 000 ₽</div>
        </div>
    </a>
    <a href="#" class="catalog__item">
        <div class="catalog__add">
            <span></span>
            <span></span>
        </div>
        <div class="catalog__media">
            <img src="../media/catalog/product-2.png" alt="">
        </div>
        <div class="catalog__footer">
            <div class="catalog__categories">Портативные колонки</div>
            <div class="catalog__name">JBL PULSE 3 Black </div>
            <div class="catalog__price">9 490 ₽</div>
        </div>
    </a>
    <a href="#" class="catalog__item">
        <div class="catalog__add">
            <span></span>
            <span></span>
        </div>
        <div class="catalog__media">
            <img src="../media/catalog/product-3.png" alt="">
        </div>
        <div class="catalog__footer">
            <div class="catalog__categories">Процессоры</div>
            <div class="catalog__name">Intel Core i7 4.3 GHz  </div>
            <div class="catalog__price">23 780 ₽</div>
        </div>
    </a>
    <a href="#" class="catalog__item">
        <div class="catalog__add">
            <span></span>
            <span></span>
        </div>
        <div class="catalog__media">
            <img src="../media/catalog/product-4.png" alt="">
        </div>
        <div class="catalog__footer">
            <div class="catalog__categories">Микрофоны</div>
            <div class="catalog__name">Samson C01U Pro </div>
            <div class="catalog__price">8 900 ₽</div>
        </div>
    </a>
    <a href="#" class="catalog__item">
        <div class="catalog__add">
            <span></span>
            <span></span>
        </div>
        <div class="catalog__media">
            <img src="../media/catalog/product-5.png" alt="">
        </div>
        <div class="catalog__footer">
            <div class="catalog__categories">Компьютерные мыши</div>
            <div class="catalog__name">Razer DeathAdder Elite  </div>
            <div class="catalog__price">5 490 ₽</div>
        </div>
    </a>
    <a href="#" class="catalog__item">
        <div class="catalog__add">
            <span></span>
            <span></span>
        </div>
        <div class="catalog__media">
            <img src="../media/catalog/product-6.png" alt="">
        </div>
        <div class="catalog__footer">
            <div class="catalog__categories">Наушники</div>
            <div class="catalog__name">Sony MDR-Z7M2 </div>
            <div class="catalog__price">54 990 ₽</div>
        </div>
    </a>
    <a href="#" class="catalog__item">
        <div class="catalog__add">
            <span></span>
            <span></span>
        </div>
        <div class="catalog__media">
            <img src="../media/catalog/product-7.png" alt="">
        </div>
        <div class="catalog__footer">
            <div class="catalog__categories">Мониторы</div>
            <div class="catalog__name">Apple Pro Display XDR  </div>
            <div class="catalog__price">370 000 ₽</div>
        </div>
    </a>
</div>
