<section class="section section_footer">
    <div class="container">
        <footer class="footer">
            <div class="footer__head">
                <div class="footer__head-item">
                    <div class="logo footer__logo">
                        <img src="../media/logo.png" alt="">
                    </div>
                </div>
                <div class="footer__pay">
                    <div class="footer__pay-item">
                        <img src="../media/footer/visa.png" alt="">
                    </div>
                    <div class="footer__pay-item">
                        <img src="../media/footer/master.png" alt="">
                    </div>
                    <div class="footer__pay-item">
                        <img src="../media/footer/mir.png" alt="">
                    </div>
                </div>
                <div class="footer__head-item">
                    <a href="tel:+79199995931">+7 919 999-59-31</a>
                </div>
            </div>
            <div class="footer__body">
                <div class="footer__nav">
                    <ul class="footer__list">
                        <li><a href="#">Клавиатуры</a></li>
                        <li><a href="#">Мониторы</a></li>
                        <li><a href="#">Колонки</a></li>
                        <li><a href="#">Акустика</a></li>
                        <li><a href="#">Планшеты</a></li>
                        <li><a href="#">Процессоры</a></li>
                        <li><a href="#">Микрофоны</a></li>
                        <li><a href="#">Смарфоны</a></li>
                        <li><a href="#">Ноутбуки</a></li>
                    </ul>
                    <ul class="footer__list">
                        <li><a href="#">Клавиатуры</a></li>
                        <li><a href="#">Мониторы</a></li>
                        <li><a href="#">Колонки</a></li>
                        <li><a href="#">Акустика</a></li>
                        <li><a href="#">Планшеты</a></li>
                        <li><a href="#">Процессоры</a></li>
                        <li><a href="#">Микрофоны</a></li>
                        <li><a href="#">Смарфоны</a></li>
                        <li><a href="#">Ноутбуки</a></li>
                    </ul>
                    <ul class="footer__list">
                        <li><a href="#">Клавиатуры</a></li>
                        <li><a href="#">Мониторы</a></li>
                        <li><a href="#">Колонки</a></li>
                        <li><a href="#">Акустика</a></li>
                        <li><a href="#">Планшеты</a></li>
                        <li><a href="#">Процессоры</a></li>
                        <li><a href="#">Микрофоны</a></li>
                        <li><a href="#">Смарфоны</a></li>
                        <li><a href="#">Ноутбуки</a></li>
                    </ul>
                    <ul class="footer__list">
                        <li><a href="#">Клавиатуры</a></li>
                        <li><a href="#">Мониторы</a></li>
                        <li><a href="#">Колонки</a></li>
                        <li><a href="#">Акустика</a></li>
                        <li><a href="#">Планшеты</a></li>
                        <li><a href="#">Процессоры</a></li>
                        <li><a href="#">Микрофоны</a></li>
                        <li><a href="#">Смарфоны</a></li>
                        <li><a href="#">Ноутбуки</a></li>
                    </ul>
                </div>
                <div class="footer__position">
                    <img src="../media/footer/market.png" alt="">
                </div>
            </div>
            <div class="footer__info">
                <div class="footer__info-item">© 2020. ООО «Кибершоп». Все права защищены.</div>
                <div class="footer__info-item"><a href="">Оплата</a> / <a href="">Реквизиты организации</a> / <a href="">Пользовательское соглашение</a></div>
            </div>
        </footer>
    </div>
</section>
