
<div class="product">
    <a href="#" class="product__item">
        <div class="product__media">
            <img src="../media/product/product-1.png" alt="">
        </div>
        <div class="product__name">мониторы</div>
    </a>
    <a href="#" class="product__item">
        <div class="product__media">
            <img src="../media/product/product-2.png" alt="">
        </div>
        <div class="product__name">мыши</div>
    </a>
    <a href="#" class="product__item">
        <div class="product__media">
            <img src="../media/product/product-3.png" alt="">
        </div>
        <div class="product__name">клавиатуры</div>
    </a>
    <a href="#" class="product__item">
        <div class="product__media">
            <img src="../media/product/product-4.png" alt="">
        </div>
        <div class="product__name">наушники</div>
    </a>
    <a href="#" class="product__item">
        <div class="product__media">
            <img src="../media/product/product-5.png" alt="">
        </div>
        <div class="product__name">ssd-диски</div>
    </a>
    <a href="#" class="product__item">
        <div class="product__media">
            <img src="../media/product/product-6.png" alt="">
        </div>
        <div class="product__name">микрофоны</div>
    </a>
    <a href="#" class="product__item">
        <div class="product__media">
            <img src="../media/product/product-7.png" alt="">
        </div>
        <div class="product__name">ноутбуки</div>
    </a>
    <a href="#" class="product__item">
        <div class="product__media">
            <img src="../media/product/product-8.png" alt="">
        </div>
        <div class="product__name">смартфоны</div>
    </a>
    <a href="#" class="product__item">
        <div class="product__media">
            <img src="../media/product/product-9.png" alt="">
        </div>
        <div class="product__name">персональные компьютеры</div>
    </a>
    <a href="#" class="product__item">
        <div class="product__media">
            <img src="../media/product/product-10.png" alt="">
        </div>
        <div class="product__name">планшеты</div>
    </a>
    <a href="#" class="product__item">
        <div class="product__media">
            <img src="../media/product/product-11.png" alt="">
        </div>
        <div class="product__name">колонки</div>
    </a>
    <a href="#" class="product__item">
        <div class="product__media">
            <img src="../media/product/product-12.png" alt="">
        </div>
        <div class="product__name">весь список</div>
    </a>
</div>
