
<div class="rek owl-carousel">
    <a href="#" class="rek__item">
        <div class="rek__media">
            <img src="../media/catalog/product-6.png" alt="">
        </div>
        <div class="rek__footer">
            <div class="rek__categories">Наушники</div>
            <div class="rek__name">Sony MDR-Z7M2 </div>
            <div class="rek__price">54 990 ₽</div>
        </div>
    </a>
    <a href="#" class="rek__item">
        <div class="rek__media">
            <img src="../media/catalog/product-5.png" alt="">
        </div>
        <div class="rek__footer">
            <div class="rek__categories">Мышки</div>
            <div class="rek__name">Razer DeathAdder Elite  </div>
            <div class="rek__price">12 990 ₽</div>
        </div>
    </a>
    <a href="#" class="rek__item">
        <div class="rek__media">
            <img src="../media/catalog/product-4.png" alt="">
        </div>
        <div class="rek__footer">
            <div class="rek__categories">Микрофоны</div>
            <div class="rek__name">Samson C01U Pro </div>
            <div class="rek__price">8 900 ₽</div>
        </div>
    </a>
    <a href="#" class="rek__item">
        <div class="rek__media">
            <img src="../media/catalog/product-6.png" alt="">
        </div>
        <div class="rek__footer">
            <div class="rek__categories">Наушники</div>
            <div class="rek__name">Sony MDR-Z7M2 </div>
            <div class="rek__price">54 990 ₽</div>
        </div>
    </a>
    <a href="#" class="rek__item">
        <div class="rek__media">
            <img src="../media/catalog/product-5.png" alt="">
        </div>
        <div class="rek__footer">
            <div class="rek__categories">Мышки</div>
            <div class="rek__name">Razer DeathAdder Elite  </div>
            <div class="rek__price">12 990 ₽</div>
        </div>
    </a>
    <a href="#" class="rek__item">
        <div class="rek__media">
            <img src="../media/catalog/product-4.png" alt="">
        </div>
        <div class="rek__footer">
            <div class="rek__categories">Микрофоны</div>
            <div class="rek__name">Samson C01U Pro </div>
            <div class="rek__price">8 900 ₽</div>
        </div>
    </a>
    <a href="#" class="rek__item">
        <div class="rek__media">
            <img src="../media/catalog/product-6.png" alt="">
        </div>
        <div class="rek__footer">
            <div class="rek__categories">Наушники</div>
            <div class="rek__name">Sony MDR-Z7M2 </div>
            <div class="rek__price">54 990 ₽</div>
        </div>
    </a>
    <a href="#" class="rek__item">
        <div class="rek__media">
            <img src="../media/catalog/product-5.png" alt="">
        </div>
        <div class="rek__footer">
            <div class="rek__categories">Мышки</div>
            <div class="rek__name">Razer DeathAdder Elite  </div>
            <div class="rek__price">12 990 ₽</div>
        </div>
    </a>
    <a href="#" class="rek__item">
        <div class="rek__media">
            <img src="../media/catalog/product-4.png" alt="">
        </div>
        <div class="rek__footer">
            <div class="rek__categories">Микрофоны</div>
            <div class="rek__name">Samson C01U Pro </div>
            <div class="rek__price">8 900 ₽</div>
        </div>
    </a>
    <a href="#" class="rek__item">
        <div class="rek__media">
            <img src="../media/catalog/product-6.png" alt="">
        </div>
        <div class="rek__footer">
            <div class="rek__categories">Наушники</div>
            <div class="rek__name">Sony MDR-Z7M2 </div>
            <div class="rek__price">54 990 ₽</div>
        </div>
    </a>
    <a href="#" class="rek__item">
        <div class="rek__media">
            <img src="../media/catalog/product-5.png" alt="">
        </div>
        <div class="rek__footer">
            <div class="rek__categories">Мышки</div>
            <div class="rek__name">Razer DeathAdder Elite  </div>
            <div class="rek__price">12 990 ₽</div>
        </div>
    </a>
    <a href="#" class="rek__item">
        <div class="rek__media">
            <img src="../media/catalog/product-4.png" alt="">
        </div>
        <div class="rek__footer">
            <div class="rek__categories">Микрофоны</div>
            <div class="rek__name">Samson C01U Pro </div>
            <div class="rek__price">8 900 ₽</div>
        </div>
    </a>
</div>
