
.breadcrumbs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;

    &_product-info-hide {
        display: none;
    }
}

.breadcrumbs__item {
    font-family: "Gilroy", sans-serif;
    font-weight: 800;
    color: #b1b1b1;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;

    & + & {
        margin-left: 30px;
    }

    &_filtr {
        position: relative;
        padding-left: 25px;

        &::before {
            position: absolute;
            top: 50%;
            left: 0;
            width: 20px;
            height: 19px;
            content: '';
            background-image: url("../media/breadcrumbs/filtr.png");
            background-repeat: no-repeat;
            transform: translateY(-50%);
        }
    }

    &_arrow {
        position: relative;
        padding-left: 25px;

        &::before {
            position: absolute;
            top: 50%;
            left: 0;
            width: 16px;
            height: 9px;
            content: '';
            background-image: url("../media/breadcrumbs/arrow.png");
            background-repeat: no-repeat;
            transform: translateY(-50%);
        }
    }
}

.breadcrumbs__box {
    display: flex;

    & span {
        display: inline-block;
        margin-right: 10px;
        margin-left: 10px;
        font-family: "Gilroy", sans-serif;
        font-weight: 800;
        color: #b1b1b1;
        text-decoration: none;
        text-transform: uppercase;
    }
}

@media (max-width: 1024px) {
    .breadcrumbs {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .breadcrumbs__box {
        & + & {
            margin-top: 20px;
        }

        & span {
            margin-right: 5px;
            margin-left: 5px;
        }
    }

    .breadcrumbs__item {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        text-transform: none;
    }

    .breadcrumbs__filtr {
        font-family: "Gilroy", sans-serif;
        font-weight: 800;
        text-transform: uppercase;
    }
}

@media (max-width: 1440px) {
    .breadcrumbs {
        &_product-info {
            margin-bottom: 40px;
        }
    }
}

@media (max-width: 768px) {
    .breadcrumbs {
        &_product-info {
            display: none;
        }

        &_product-info-hide {
            display: block;
        }
    }
}

@media (max-width: 480px) {
    .breadcrumbs__filtr {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        text-transform: none;
    }

    .breadcrumbs__item {
        & span {
            display: none;
        }

        & + & {
            margin-left: 20px;
        }
    }
}
